.App {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: blue;
  color: white;
  flex: 0.05;
}

.headerSearchInput {
  background: rgb(32, 50, 252);
  border: none;
  outline: none;
  padding: 5px;
  color: white;
}

input.headerSearchInput::placeholder {
  color: #ccc;
}

.contentHeaderField:first-child,
.contentItemField:first-child {
  flex: 1.5;
  padding-left: 10px;
}

.contentHeaderField,
.contentItemField {
  flex: 1;
}

.contentHeader,
.contentCountryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.contentItemFlagImg {
  width: 120px;
  height: 80px;
  border: 1px solid black;
}
.contentDisableLink {
  text-decoration: none;
  color: inherit;
}
.contentCountryItem {
  border-top: 1px solid lightgray;
}
.contentCountryItem:hover {
  background: lightgray;
}

.countryPage {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100vh;
  justify-content: space-between;
}

.countryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countryHeaderLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countryHeaderLeftLogo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;
  color: white;
}
.countryHeaderLeftText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.countryContent {
  flex-direction: column;  
  display: flex;
  width: 100%;
  flex: 0.9;
}
.countryContentFlag {
  display: flex;
  justify-content: center;

}

.countryContentImg {
  border: 1px solid ;
}